.thin-auth {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    accent-color: hsla(192, 81%, 26%, 1);
}

.thin-auth * {
    box-sizing: border-box;
}

.thin-auth-container {
    display: flex;
    align-items: center;
}

.thin-auth-container-inner {
    width: 100%;
}

.thin-auth-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 3rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: 0.25rem;
}

.thin-auth-icon-container {
    text-align: center;
    margin-bottom: 1rem;
}

.thin-auth-icon-container img {
    width:  64px;
}

.thin-auth h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.thin-auth-description {
    text-align: center;
}

.thin-auth-signup {
    color: #6c757d;
    margin-right: 0.25rem;
}

.thin-auth-built-with {
    text-align: center;
    margin-top: 3rem;
}

.thin-auth .thin-auth-built-with a {
    color: #6c757d;
    font-size: 12px;
    font-weight: 400;
}

.thin-auth p {
    color: hsla(196, 13%, 40%, 1);
    font-size: 14px;
}

.thin-auth a {
    color: hsla(192, 81%, 26%, 1);
    font-weight: 500;
    text-decoration: none;
}
.thin-auth a:focus {
    outline: 1px solid currentColor;
}

.thin-auth input {
    margin:  0; 
    font-family:  inherit; 
    font-size:  inherit; 
    line-height:  inherit;
    overflow: visible;

    /* .form-control */
    display: block; 
    width: 100%; 
    height: calc(1.5em + .75rem + 2px); 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #495057; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    /* .form-control-lg */
    height: calc(1.5em + 1rem + 2px); 
    padding: .5rem 1rem; 
    font-size: 1.25rem; 
    line-height: 1.5; 
    border-radius: .3rem;
}

.thin-auth .thin-auth-form-group {
    margin-bottom: 1rem;
}

.thin-auth input:focus {
    color: #495057; 
    background-color: #fff; 
    border-color: hsla(192, 81%, 26%, 1); 
    outline: 0; 
}

.thin-auth button {
    border-radius:    0;
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block; 
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff;


    /* .btn-lg */
    padding: .5rem 1rem; 
    font-size: 1.25rem; 
    line-height: 1.5; 
    border-radius: .3rem;

    /* .btn-block */
    width: 100%;
    display: block;
} 

.thin-auth button, .thin-auth button:disabled {
    background-color:  hsla(192, 81%, 26%, 1);
    border: 1px solid hsla(192, 81%, 19%, 0.1);
    font-weight: 500;
    border-radius: 8px;
}

.thin-auth button:not(:disabled):hover {
    background-color: hsla(192, 81%, 26%, 0.8);
    border: 1px solid hsla(192, 81%, 19%, 0.1);
}

.thin-auth button:not(:disabled):active {
    background-color: hsla(192, 81%, 26%, 0.8);
    border: 1px solid hsla(192, 81%, 19%, 0.1);
}

.thin-auth button:focus {
    background-color:  hsla(192, 81%, 36%, 1);
    border: 1px solid hsla(192, 81%, 19%, 0.1);
    outline: 1px solid hsla(192, 81%, 19%, 1);
}

.thin-auth button:disabled {
    opacity: 0.65;
}

@keyframes thin-auth-spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.thin-auth-spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: thin-auth-spinner-border .75s linear infinite
}

.thin-auth-spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em
}

.thin-auth-alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}


.thin-auth input:-webkit-autofill:hover {
    font-size: 1.25rem !important;
}

.thin-auth-invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}

.thin-auth .thin-auth-invalid {
    border-color: #dc3545;
}