html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: #0e0e0e;
}

#bg-container {
    background-image: url(/status-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
}

h1 .highlight {
    color: #2AA198;
}

p {
    font-size: 22px;
    color: #E5EAEB;
    opacity: 0.8;
}

.border-top {
    border-top: 1px solid #0B5163 !important;
}

.url {
    background-color: rgb(27 106 109 / 38%);
    color: #2AA198;
    
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: all 0.2s;
}

.url:hover {
    background-color: rgb(27 106 109 / 48%);
}

.tooltip .tooltip-inner {
    text-align: left;
    background-color: #0B5163;
    border: 1px solid hsl(175deg 59% 40% / 33%) !important;
    border-radius: 4px;
    font-size: 12px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.tooltip .arrow {
    display: none;
}

.tooltip {
    opacity: 1 !important;
    user-select: none;
}

.btn.btn-devtools {
    background-color: rgb(27 106 109 / 38%);
    color: #2AA198;
    outline: 0 !important;
    box-shadow: none !important;
    transition: all 0.2s;
}

.btn.btn-devtools:hover {
    background-color: rgb(27 106 109 / 48%);
}

.btn.btn-devtools:active {
    background-color: rgb(27 106 109 / 60%);
}

.btn .btn-arrow {
    transition: transform .2s;
    transform: translateX(0%);
    display: inline-block;
}

.btn:hover .btn-arrow {
    transform: translateX(25%);
}